@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Inter", sans-serif;
}

/* header section start */
.header-hero {
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px auto 100px auto;
    max-width: 1440px;
    height: 652px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 998px;
    height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.header-image {
    width: 240px;
    height: 240px;
}

.header-title {
    font-size: 48px;
    font-weight: 600px;
    color: #0D1321;
    text-align: center;
    line-height: 50px;
}

.header-para {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.header-btn {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600px;
    padding: 21px 24px;
    background-color: #0D1321;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

/* header section end */
/* ---------------------------------------------------------------- */
/* main section start */
.main-section {
    width: 1140px;
    margin: 70px auto 70px auto;
}

.development-section {
    width: 100%;
    height: 1390px;
    background-color: #FAFAFB;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.development-container {
    width: 946px;
    height: 1235px;
    /* background-color: red; */
}

/* dev card one and three container start */
.dev-card-container {
    width: 946px;
    height: 320px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.card-text-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.card-titel {
    font-size: 24px;
    font-weight: 700;
}

.card-para {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.card-btn {
    padding: 12px 20px;
    border: 1px solid #ABADB1;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    opacity: 0.7px;

}

.card-img-right {
    width: 50%;
    text-align: right;
}

/* dev cardone and three container end */

/* dev-card-two-container start */
.dev-card-two-container {
    width: 946px;
    height: 336px;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255)100%);
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 48px;
}

.dev-card-two-img-and-text {
    display: flex;
}

.dev-card-two-img-left {
    width: 50%;
}

.dev-card-two-text-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.dev-card-two-title {
    font-size: 24px;
    font-weight: 700;
}

.dev-card-two-para {
    font-size: 16px;
    font-weight: 400;
}

.dev-two-btn {
    padding: 12px 20px;
    border: 1px solid #ABADB1;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    opacity: 0.7px;
}


/* dev-card-two-container end */

/* inspiration section start */

.inspiration-section {
    width: 1140px;
    height: 777px;
    /* background-color: red; */
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.inspiration-title-and-para {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inspiration-title {
    font-size: 32px;
    font-weight: 800px;
}

.inspiration-para {
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
}

.inspiration-youtube {
    width: 1140px;
    height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    background-color: #FFFFFF;
}

.inspiration-youtube>iframe {
    width: 1076px;
    height: 550px;
    margin: 32px 32px;
}

/* inspiration section end */

/* target section start */
.target-section {
    margin-top: 100px;

}
/* Next target section start */
.next-target-container{
    margin-top: 48px;
}
.target-card-container{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.react-card{
    border: 1px solid #E7E8E9;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    gap: 20px;
}
.react-card-text-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.node-card{
    border: 1px solid #E7E8E9;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    gap: 15px;
}
.node-card-text-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.mongo-card{
    border: 1px solid #E7E8E9;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    gap: 15px;
}
.mongo-card-text-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/* Next target section end */

/* target section end */

/* card section start */
.target-card {
    display: flex;
    gap: 15px;
    margin-top: 48px;
}

.card1,
.card2,
.card3 {
    width: 33.33%;
    padding: 40px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card1 {
    background-color: #FFF6F4;
}

.card2 {
    background-color: #F2F6FE;
}

.card3 {
    background-color: #FFFDF2;
}

.card-img {
    width: 56px;
    height: 56px;

}

.card-title {
    font-size: 24px;
    font-weight: 800;

}

.card-para {

    font-size: 16px;
    font-weight: 400;
}
/* common for link */
.target-card-link {
    font-size: 16px;
    font-weight: 700;
}
/* common for link */

/* card section end */


/* support secion start */
.support-section {
    width: 1140px;
    height: 314px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.295)100%), url('../assets/handshake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.support-container {
    width: 1044px;
    height: 186px;
}

.support-title,
.support-para {
    color: #fff;
}

.input-task {
    margin-top: 30px;
}

.input-task input {
    width: 548px;
    height: 57px;
    border: none;
    padding: 0px 20px;
    border-radius: 12px;
    margin-right: 25px;
}

.input-task button {
    width: 120px;
    height: 58px;
    border: none;
    padding: 0px 20px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


/* support secion end */

/* main section end */


/* footer section start */
.footer-section{
    max-width: 1440px;
    height: 100px;
    margin: 80px auto 0px auto;
    background-color: #F7F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    width: 1140px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-paragraph{
    font-size: 20px;
    font-weight: 600px;
    color: #0D1321;
}
.footer-icon a>img{
    width: 30px;
    height: 30px;
    margin-left: 15px;
}
/* footer section end */